<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta charset="utf-8">

 <title>Solid - Voronoi Treemap</title>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 <script language="javascript" type="text/javascript" src="d3.js"></script>
 <script language="javascript" type="text/javascript" src="ConvexHull.js"></script>
 <script language="javascript" type="text/javascript" src="PowerDiagram.js"></script>
 <script language="javascript" type="text/javascript" src="VoronoiTreemap.js"></script>
 <script language="javascript" type="text/javascript" src="VoronoiTreemapD3.js"></script>
 <script language="javascript" type="text/javascript" src="flare.js"></script>
 <script language="javascript" type="text/javascript" src="sweden2005.js"></script>
 <script language="javascript" type="text/javascript" src="sweden2012.js"></script>
 <script language="javascript" type="text/javascript" src="d3-legend.js"></script>
</head>
<body>

<style>
/*style for the tooltip*/
#tooltip {
  position: absolute;
  width: 220px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h2 {
  padding-left: 20px;
}

h3 {
  padding-left: 20px;
}


</style>


<div>
  <h2>Sweden death causes</h2>
</div>

 <div>
  
  <h3> 
  <button type="button" id="year_2005">2005</button>
  <button type="button" id="year_2012">2012</button>
  &nbsp;&nbsp;Show number of deaths:
  <select id="select_max_depth">
   <option value="2">By name</option>
   <option value="1">By category</option>
   <option value="0">Total</option>
  </select></h3>
  <br><br>
 </div>


<script language="javascript">
                             

//mouseover functions
var mousemove = function(d) {
  var xPosition = d3.event.pageX + 5;
  var yPosition = d3.event.pageY + 5;

  d3.select("#tooltip")
    .style("left", xPosition + "px")
    .style("top", yPosition + "px");
  d3.select("#tooltip #heading")
    .text(d["name"] + " = " + d["size"]);
  d3.select("#tooltip #name")
    .text("Media Coverage = " + d["coverage"] + "%");
  d3.select("#tooltip").classed("hidden", false);
};

var mouseout = function() {
  d3.select("#tooltip").classed("hidden", true);
};



 function make_regular_polygon(width, height, border, sides) {
  var center = [width*0.5, height*0.5],
  width_radius = (width - 2*border) * 0.5,
  height_radius = (height - 2*border) * 0.5,
  radius = Math.min( width_radius, height_radius ),
  angle_radians = 2*Math.PI / sides,
  initial_angle = sides%2==0 ? -Math.PI/2 -angle_radians*0.5 : -Math.PI/2, // subtract angles
  result = [],
  somevariable = 0;

 // special case few sides
 if (sides == 3) {
  center[1] += height_radius / 3.0; 

  radius_for_width = width_radius * 2 / Math.sqrt(3);
  radius_for_height = height_radius * 4.0 / 3.0;
  radius = Math.min(radius_for_width, radius_for_height);
 }
 else if (sides == 4) {
  radius *= Math.sqrt(2);
 }
 
 for (var i = 0; i < sides; i++) {
  result.push([center[0] + radius * Math.cos(initial_angle - i * angle_radians), center[1] + radius * Math.sin(initial_angle - i * angle_radians)]);
 }

 return result;
}

var width = 800;
var height = 600;
var border = 100;
var svg_container = d3.select("body").append("svg")
.attr("width",width)
.attr("height",height)
.attr("id","svgid");

function make_d3_poly(d) {
 return "M" + d.join("L") + "Z";
}

// Function for when clicking on treemap area the map should update
function updateMap(){
 console.log("test");
}

var paint = function(nodes){
 svg_container.selectAll("path").remove();

 // background color
 var background_color = "none";
 svg_container.append("g").append("rect")
 .attr("x", 0)
 .attr("y", 0)
 .attr("width", width)
 .attr("height", height)
 .attr("fill", background_color);

 // strokes by depth
 var stroke_min = 2,
 stroke_max = 8,
 stroke_levels = 3,
 stroke_delta = (stroke_max - stroke_min) * 1.0 / stroke_levels;

//Coloring the treemap
 var nodes_all_depths = nodes.map(function(x) {return x.depth});
 var nodes_max_depth = Math.max.apply(null, nodes_all_depths);
 var colorScheme = ["#FFF7F7", "#FFE4E2", "#C2827E", "#753B36", "#5C1E18", "#330804"];
 var color_d3_linear = d3.scale.linear().domain([0, nodes_max_depth]).range(colorScheme);
 var color_func = function(d) {
    var myColor = 0;
    myColor = Math.round(d["coverage"]/20);
    return colorScheme[myColor];
  };

  //return colorScheme[d["colour"]];};


 var select_max_depth = d3.select("#select_max_depth").node().value;
 var max_depth = 2; 
 if (select_max_depth != "Total") {
  max_depth = parseInt(select_max_depth);
 }
 
 // consolidate and draw polygons
 var selected_node_list = [];
 for (var i = 0; i < nodes.length; i++){
  var node = nodes[i];
  if (node.polygon != null && node.depth <= max_depth){
   selected_node_list.push(node);
  }
 }

 // Draw the lines of the polygon
 var polylines = svg_container.append("g").selectAll("path").data(selected_node_list);
 polylines.enter().append("path")
 .attr("d", function(d) {return make_d3_poly(d.polygon);})
 .attr("stroke-width", function(d) { return Math.max(stroke_max - stroke_delta*d.depth, stroke_min) + "px";})
 .attr("stroke", "black")
 .attr("fill", color_func)


 // Click to update the world map  according to the clicked desis. 
 //.on("click", function(d){updateMap()})
 .on("mousemove", mousemove)
 .on("mouseout", mouseout)
 polylines.exit().remove();
}

var newnodes;
//there should be a input to "compute" with the json file, since the data to visualize will be different
function compute2012() {
 var vt = d3.layout.voronoitreemap()
 .root_polygon(make_regular_polygon(width, height, border, 100))
 .value(function(d) {return d.size; })
 .iterations(100);
 //flare_json is the data set
 newnodes = vt(death2012_json);
 paint(newnodes);
}

function compute2005() {
 var vt = d3.layout.voronoitreemap()
 .root_polygon(make_regular_polygon(width, height, border, 100))
 .value(function(d) {return d.size; })
 .iterations(100);
 //flare_json is the data set
 newnodes = vt(death2005_json);
 paint(newnodes);
}

compute2012();
d3.select("#select_max_depth").on("change", function() {paint(newnodes)});
d3.select("#year_2012").on("click", function() {compute2012();});
d3.select("#year_2005").on("click", function() {compute2005();});



//legend functions
var ordinal = d3.scale.ordinal()
  .domain(["0%", "> 10%", "30%", "50%", "70%", "< 90%"])
  .range(["#FFF7F7", "#FFE4E2", "#C2827E", "#753B36", "#5C1E18", "#330804"]);

var svg = d3.select("svg");

svg.append("g")
  .attr("class", "legendOrdinal")
  .attr("transform", "translate(20,20)");

var legendOrdinal = d3.legend.color()
  .shapeWidth(55)
  .shapePadding(1)
  .orient('horizontal')
  .title("Media Coverage")
  .scale(ordinal);

svg.select(".legendOrdinal")
  .call(legendOrdinal);     
</script>

<div id="tooltip" class="hidden">
  <p><strong id="heading"></strong></p>
  <p><span id="name"></span></p>
  <p><span id="size"></span></p>
</div>
</body>
</html>
