/*WEB*/

/*COLORS
MAIN RED: #69010c OR rgb(105, 1, 12)
SUPPORTING RED: #a57c80 OR rgb(165, 124, 128)
WHITE BG: #fefcf8 OR rgb(254, 252, 248)
BLACK TEXT: #333 OR rgb(51, 51, 51)
*/

html{
    font-size: 100%;
}
span{
    font-size: 100%;
}

body,form {
  font-family: 'Droid Serif', serif;
  /*font-size: 1em;*/
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  background-color: #fefcf8;
}

.container{
   width: 960px;
}

.container-fluid{
  /*max-width: 960px;*/
}
 
h1 {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 3em;
  /*margin: 1em 0 .5em 0;*/
  color: #69010c;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  /*margin: 2em 0 0.5em;*/
  /*padding: .5em 0 .5em 0;*/
  color: #69010c;
/*  border-bottom: solid #ccc 1px;*/
}

h3, #country{
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.3em;
}

h4{
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #69010c;
  font-size: 1.3em;
}

.red{
  font-weight: bold;
  color: #69010c;
}

p.caption {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 0.9em;
  /*color: #999;*/
}

.label{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  /*color: #999;*/
}

a:link, a:visited {
  color: #a57c80;
  text-decoration: none;
}

a:hover {
  color: #69010c;
  /*color: #fff;*/
}

hr{
  /*color: #a57c80;*/
    border: 0;
    height: 0;
    /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
    border-bottom: 1px solid rgba(165, 124, 128, 1);
}

.modalText{
  text-align: left;
}

.modalImg{
  width:50%;
  height:50%;
}

.divLogo{
  padding-bottom: 10px;
}

.team {
  text-align: center;
  margin: 10px 0 10px 0;
}

.team p{
  margin: 0 0 0 0;
}

.portrait {
  width: 100px;
  height: 100px;
}

/*BOOTSTRAP*/
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

/*MODAL*/
.modal-content{
  background-color: #fefcf8;
}

.modal-header{
  border-bottom: 1px solid #a57c80;
}

.close{
  color: #a57c80;
}


/*NAVBAR*/
.navbar{
  border: none;
  border-bottom: 1px solid #a57c80;
  border-radius: 0px;
}

.navbar-brand{
  padding: 10px 10px 10px 15px;
}

.navLogo{
  /*padding: 0px;*/
  padding-left: 0px;
  text-align: left;
}

.navDescription{
  text-align: left;
  padding-left: 10px;
  padding-right: 0px;
  /*padding: 0px 0px 0px 0px;*/
   margin-top: -3px;
}


/*Sets the text hover color on navbar*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #69010c;  
}


/*BACKGROUND color for active*/
/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white; 
  background-color: #030033;
}*/

.navbar-default {
  background-color: #fefcf8;
  /*border-color: #030033;*/
}

.close:focus, .close:hover {
  color: #69010c;
}

/*change color of links in drop down here*/
/*.dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;
}*/

/*Change rollover cell color here*/
/* .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; 
  }*/

/*Change active text color here*/
.navbar-default .navbar-nav > li > a {
   color: #a57c80; 
}

.mapContainer{
  margin-bottom: 280px;
}

.mapButton{
  margin-top: 8px;
  margin-bottom: 20px;
}

.chosen {
  /*position: absolute;
  top: 190px;
  left: 0px;
  width: 600px;
  color: #666;
  z-index: -1;
 
  text-align: center;*/
}

/*CSS for the death description*/
.newsBox{
  border:1px solid #a57c80;
  border-radius: 10px;
  -moz-border-radius:10px;
  /*width: 600px;*/
  /*height: 400px;*/
  padding:20px 10px;
/*  margin-top: 100px;*/
}

.deathDescription{
  width: 100%;
  /*height: 110px;*/

}

.deathImg {
/*  padding: 0px;
  margin: 0px;*/
  /*height: 110px;*/
  float: left;
}

.deathText {
  text-align: left;
}

.deathText h4{
  margin-top: 0px;
}

.deathText p{
/*  padding: 10px 0px;*/
/*  float: right;*/
/*  width: 65%;*/
  margin-bottom: 0px;
  line-height:17px;
  /*height: 51px;*/

  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.more{
  float: right;
  text-align: right;
  padding-top: 5px;
}


.keyWords{
  font-weight: bold;
  text-align: left;

}
.keyWords span{
  font-weight: normal;
  text-align: left;
}

.sampleNews{

  text-align: left;

}
.sampleNews .title{
  padding: 5px 0px;
  font-weight: bold;
  text-align: left;

}
/*.sampleNews .example{
  padding: 2px 0px;
}*/


.tooltipNews {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin: 0px 4px; 
}

/* Tooltip text */
.tooltipNews .tooltiptextNews {
    visibility: hidden;
    width: 120px;
    background-color: #69010c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;

    left: 50%;
    margin-left: -60px;
    top: 100%;
}

.tooltipNews .tooltiptextNews::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #69010c transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltipNews:hover .tooltiptextNews {
    visibility: visible;
}



/*CSS for the News Media*/
.mediaBox{
  border:1px solid;
  border-radius: 15px;
  -moz-border-radius:15px;
  width: 600px;
  height: 200px;
  padding:15px 25px;
}
.countryName{

  font-weight: bold;
}
.mediaImg{
  padding: 10px 0px;

}
.mediaImg span{
  height: 140px;

}
.mediaImg img{
  padding-right: 10px;
  padding-top: 10px;
  height: 60px;
/*  width: 20px*/

}
