#canvas-map{
  /*pointer-events:auto !important;*/
  margin: auto;
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 3;

  left:0;
  right:0;

  /*position: relative;*/
  top: 37.5%;
  transform: translateY(37.5%);
  -webkit-transform: translateY(37.5%);
  -ms-transform: translateY(37.5%);
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

#tooltip-container {
  position: absolute;
  background-color: #69010c;
  color: #fff;
  padding: 10px;
  border: none;
  display: none;
  opacity: .7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 5;
  pointer-events: none;
  
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

/* Not used right now - Color coding */
.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }
